.NewArticlePage {
    float: left;
    width: 100%;
    margin-top: 50px;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 200px;
}
.NewArticlePage .postForm {
    float: left;
    width: 100%;
}
.NewArticlePage .postForm input {
    display: block;
    margin-top: 50px;
    /* float: left; */
}

.NewArticlePage .postForm textarea {
    margin-top: 50px;
    resize: vertical;
    width: 100%;
    min-height: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px #ccc;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.NewArticlePage .postForm .sbm {
    padding: 5px 40px 5px 40px;
    font-size: 24px;
    border-radius: 5px;
}