.Votes {
    float: left;
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    user-select: none;
    background: #efefefef;
}
@media all and (max-width: 768px) {
    .Votes {
        flex-basis: 80px;
        font-size: 32px;
    }
    .ShortArticle img {
        display: none;
    }
}

.Votes .voteArrow {
    cursor: pointer;
}
.Votes .active {
   color: rgb(255, 174, 52);
}